body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  max-width: 3000px;
  
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 3%;
}
.container-table {
  width: 80%;
  margin: auto;
}
.page-item {
  display: inline-block;
  box-sizing: border-box;
  list-style: none;
  cursor: pointer;
  margin: 0.8%;
}
.page-item a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
.table td {
  text-align: center;
}
